* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.showCase {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 3;
}
.showCase header {
    position: absolute;
    width: 100%;
    padding: 5px 100px;
    top: 50px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.menu-open {
    width: 30px;
}
.menu-close {
    width: 30px;
    display: none;
}
.main-container.active .menu-open {
    display: none;
}
.main-container.active .menu-close {
    display: block;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2.5em;
}

.showCase video {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #001;
    mix-blend-mode: overlay;
    z-index: -1;
}
.menu {
    display: none;
}
.main-container.active .menu {
    position: fixed;
    top: 0px;
    right: 0;
    color: #111;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.text h2 {
    font-size: 5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1em;
    font-weight: 400;
    margin: 20px 0;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s;
}

.text a:hover {
    letter-spacing: 5px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social li {
    list-style: none;
}
.social li a {
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    color: #fff;
    transition: all 0.3s;
    transform: scale(0.95);
}

.social li a:hover {
    transform: scale(1) translateY(-10px);
}
.main-container {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}
.main-container.active {
    right: 300px;
}

.main-container.active .menu li {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.3s;
}
.main-container.active .menu li:hover {
    color: lightskyblue;
}

@media (max-width: 991px) {
    .showCase {
        padding: 20px;
    }
    .showCase header {
        padding: 20px;
        top: 20px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .main-container.active {
        right: 250px;
    }
}
